body {
    margin: 0;
    background-color: #ffdddc;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

#background {
    background-image: url(../assets/images/dagobert.jpg);
    opacity: .2;
    top: 0;
    left: 15%;
    bottom: 0;
    right: 635px;
    position: absolute;
    background-position: 32% 8%;
    background-size: cover;
    z-index: 0;
}

.axis {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.group {
    float: left;
}

.active {
    opacity: .5;
}



::-webkit-scrollbar {
    width: 0;
}

.overlay ul {
    list-style: none;
    padding: 0 20px;
}



/* History ############################################# */
#history {
    display: none;
    position: absolute;
    background-color: #ffdddc;
    z-index: 9;
    min-height: 100%;
}


/* Version ############################################# */
#version {
    display: none;
    position: absolute;
    background-color: #ffdddc;
    z-index: 9;
    min-height: 100%;
}

/* Themes ############################################# */
#themes {
    display: none;
    position: absolute;
    background-color: #ffdddc;
    z-index: 9;
    min-height: 100%;
}


/* Config ############################################# */
#config {
    display: none;
    position: absolute;
    background-color: #ffdddc;
    z-index: 9;
    min-height: 100%;
    width: 100%;
}



/* Checkout ############################################# */
#checkout {
    display: none;
    position: absolute;
    background-color: #ffdddc;
    z-index: 9;
    min-height: 100%;
    width: 100%;
}

#display {
    width: 12.5em;
    text-align: right;
}

#pin {
    background: #ffdddc;
    width: 27em;
    min-width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1em;
    border-radius: .3em;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    margin: auto;
    color: rgba(255, 255, 255, 0.2);
}

.numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    margin: 2em 0;
}

.number {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    margin: 0.5em;
    text-align: center;
    line-height: 2.5em;
    font-weight: 400;
    font-size: 1.8em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    padding: 3px;
    background: #ff5fb8;
    border: 1px solid #fff;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 0 40px #fff;
    -webkit-box-shadow: inset 0 0 40px #fff;
    box-shadow: inset 0 0 40px #fff;
    color: #fff;
}

.number:hover {
    color: rgba(255, 255, 255, 0.5);
}
.number:hover:before {
    border: 2px solid rgba(255, 255, 255, 0.5);
}
/*.number:before {
    content: "";
    position: absolute;
    left: -2px;
    width: 2.5em;
    height: 2.5em;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5em;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}*/


/* ERM ############################################# */
#erm {
    display: none;
    position: absolute;
    background-color: #ffdddc;
    z-index: 9;
    min-height: 100%;
}

#erm-add {
    margin-top: 50px;
}

#erm-list::after {
    clear: both;
}

#erm-add-form ul, #theme-edit-form ul {
    /*
    width: 50vw;
    */
    padding: 0;
    border: 1px solid #fff;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#erm-add-form li, #theme-edit-form li {
    padding:12px;
    border-bottom: 1px solid #777;
    position:relative;
}

#erm-add-form li:after {
    clear: both;
}

#erm-add-form h2 {
    margin:0;
    display: inline;
}

table.table tbody tr:hover td {
    background-color: #444;
}

#erm-add-form label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
#erm-add-name, #erm-add-matcher, #erm-add-hueurl, #erm-add-huekey, #erm-add-huesetting, #erm-add-showurl, #erm-add-showtts {
    padding: 5px 8px;
}

#config-themes, #config-theme-name {
    padding: 5px 8px;
}

.theme-column {
    float: left;
    width: 50%;
}

.accordion-content::before , .accordion-content::after {
    clear: both;
    content: '';
    display: table;
}

.hue, .show {
    display:none;
}

#erm-add-send, #erm-add-update, #config-save {
    padding: 12px !important;
}

#erm-add-update {
    display: none;
}

#input {
    color: #fff;
}

::-webkit-input-placeholder {
    color:    #fff;
}

#erm-add-form input, #erm-add-form textarea, #erm-add-form select, #erm-add-form button, #factory-reset {
    padding: 20px;
    background: #ff5fb8;
    border: 1px solid #fff;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 0 40px #fff;
    -webkit-box-shadow: inset 0 0 40px #fff;
    box-shadow: inset 0 0 40px #fff;
    color: #fff;
}

#config-save-form input, #config-save-form textarea, #config-save-form select, #config-save-form button {
    padding: 20px;
    background: #ff5fb8;
    border: 1px solid #fff;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 0 40px #fff;
    -webkit-box-shadow: inset 0 0 40px #fff;
    box-shadow: inset 0 0 40px #fff;
    color: #fff;
}

.invalid-input {
    border: 10px solid #fff !important;
}





/* config ####################################### */

#config li {
    margin-top: 50px;
}

#config-save-form ul {
    /*
    width: 50vw;
    */
    padding: 0;
    border: 1px solid #fff;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#config-save-form li {
    padding:12px;
    border-bottom: 1px solid #777;
    position:relative;
}

#config-save-form li:after {
    clear: both;
}

#config-save-form h2 {
    margin:0;
    display: inline;
}






/* show ######################################### */

#show {
    background-color: rgb(251, 165, 204);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
}

#show-content {
    top: 0;
    position: relative;
    display: inline-block;
    width: 100vw;
    height: auto;
}




/* notice ######################################### */

#notice {
    top: 300px;
    position: fixed;
    right: 16px;
    z-index: 4000;
    opacity: 0;
    margin: auto;
    margin-top: 20px;
    background: rgba(51, 59, 70, 0.5);
    border: 1px solid #111;
    border-radius: 3px;
    box-shadow: inset 0px 38px 0px rgba(255,255,255,0.1), inset 0 1px 0 rgba(255,255,255,0.4), inset 0 10px 10px rgba(255,255,255,0.2), inset 0 -5px 10px rgba(0,0,0,0.2), 0 3px 3px rgba(0,0,0,0.3);
    width: 250px;
    min-height: 100px;
    padding: 5px 10px;
    color: white;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.8);
    transition: all .5s ease;
    backface-visibility: hidden;
    pointer-events: none;
}

.error {
    background: rgba(157, 0, 0, 0.75) !important;
}

.warning {
    background: rgba(157, 75, 0, 0.75) !important;
}

.success {
    background: rgba(47, 98, 4, 0.75) !important;
}

#notice-content {
    padding: 5px;
}






/* pie ######################################### */

.pie-parts {
    -moz-box-shadow: inset 0 0 40px #fff;
    -webkit-box-shadow: inset 0 0 40px #fff;
    box-shadow: inset 0 0 40px #fff;
}










/*  TABLE   ####################################### */

h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}
table {
    width:100%;
    table-layout: fixed;
    background: #ff5fb8;
    border: 1px solid #fff;
    border-right: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 0 40px #fff;
    -webkit-box-shadow: inset 0 0 40px #fff;
    box-shadow: inset 0 0 40px #fff;
    color: #fff;
}
.tbl-header {

}
.tbl-content {
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid #515151;
}
th {
    padding: 20px 15px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}
tr {
    background: rgba(0, 0, 0, 0);
}
td {
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}



.cp-color-picker {
    z-index: 1001;
}

.light {
    border-bottom: none !important;
}

.light-label {
    float: left;
}

.light-enabled {
    background-color: #ff5fb8;;
}

.light-color {
    background-color: #dddddd;
    width: 20px;
    height: 20px;
    float: right;
}

.light-color::after {
    clear: both;
}

/* Overwrites */
.switch {
    background: red;
}

body #erm form li.input input:not([type="checkbox"]),
body #erm form li.input textarea {
    box-shadow: inset 0 0 5px 2px #ab3978;
}

body #config form li.input input:not([type="checkbox"]),
body #config form li.input textarea,
body #config form li.input select {
    box-shadow: inset 0 0 5px 2px #ab3978;
}

body table.table {
    box-shadow: none;
}
body table.table tbody tr {
    background: #ab3978;
}
body table.table tbody tr:hover td {
    color: #fff;
    cursor: pointer;
}
body table.table tbody tr:nth-child(2n+2) {
    background: #AB4C79;
}

body table.table td span.btn {
    display: inline-block;
    background: #aaa;
    padding: 5px;
    width: 50px;
    text-align: center;
}
body table.table td span.btn:hover {
    transition: all .2s linear;
    background: #ff5fb8;
}

body table.table td span.on,
body table.table td span.off {
    background: #fff;
    width: 50px;
    color: #aaa;
    display: inline-block;
    padding: 5px;
    border: 2px solid #aaa;
    position: relative;
    opacity: .5;
}
body table.table td span.on:after,
body table.table td span.off:after {
    content: " ";
    background: #cc4b37;
    width: 25px;
    top: 0;
    bottom: 0;
    position: absolute;
}
body table.table td span.on:after {
    background: #3adb76;
    right: 0;
}
body table.table td span.off {
    text-align: right;
}
body table.table td span.off:after {
   /* background: #cc4b37; */
    left: 0;
}
body table.table td span.btn {

}

#header {
    position: relative;
    z-index: 11;
}
#header > div {
    float: right;
}
#header > div.title {
    padding-left: 10px;
    color: #fff;
    font-size: 7vh;
    float: left; }

#history {
    padding: 20px; }

form label {
    float: none!important; }

.theme-preview-container {
    margin-left: 70px;
    margin-top: 10px; }

body .theme-preview-container ul,
body .theme-preview-container ul li {
    border: none!important;
    margin-top: 0!important;
}

body .theme-preview-container ul ul li {
    display: inline-block!important;
}

.theme-property-value {
    vertical-align: bottom;
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid #000;
    margin-right: 10px; }

#menu {
    background: #CB3577;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    padding-top: 100px; }

#header.open + #menu {
    display: block; }

#menu ul {
    padding-left: 0; }

#menu li {
    list-style: none;  }

#menu li a {
    display: block;
    border-top: 1px solid rgba(255,255,255,.3);
    border-bottom: 1px solid rgba(255,255,255,.3);
    padding: 15px 30px;
    text-decoration: none;
    transition: all .2s linear;
    color: #fff; }

#menu li a:hover {
    background: red;
    background: rgba(255,255,255,.3);
}

/* Menu */
#nav-icon3 {
    width: 8vh;
    height: 45px;
    position: relative;
    margin: 50px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer; }

#nav-icon3 {
    position: absolute;
    left: 26px;
    top: -25px; }

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }

#nav-icon3 span:nth-child(1) {
    top: 0; }

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 18px; }

#nav-icon3 span:nth-child(4) {
    top: 36px; }

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%; }

#nav-icon3.open span:nth-child(2) {
    transform: rotate(45deg); }

#nav-icon3.open span:nth-child(3) {
    transform: rotate(-45deg); }

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%; }

/* Accordion */
.accordion {
    margin: 20px;
    }

.accordion-content > ul {
    /*
    float: left;
    */
    width: 50%;
}

.accordion ul li {
    margin-top: 0 !important; }

.accordion > ul > li {
    color: #fff;
    padding: 0!important; }

.accordion .accordion-title {
    cursor: pointer;
    background: rgb(203, 53, 119); }

.accordion li span.accordion-title  {
    display: block;
    padding: 12px; }

.accordion li span.accordion-title:hover {
    background: rgba(203, 53, 119, .7); }

.accordion li span.accordion-title:after {
    content: " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    position: absolute;
    right: 10px;
    top: 20px;
}
.accordion li span.accordion-title.open:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-top: none;
    position: absolute;
    right: 10px;
    top: 20px;
}
.accordion div.accordion-content {
    border: none!important;
    color: #000;
    display: none;
    padding: 20px;
}

.accordion li  {
    border-bottom: none!important; }