body {
    margin: 0;
    overflow: hidden;
    background-color: #ffdddc;
    font-family: 'Quicksand', sans-serif;
    /*font-family: 'Butterfly Kids', cursive;*/
}
#background {
    background-image: url(../assets/images/dagobert.jpg);
    opacity: 0.2;
    top: 0;
    left: 15%;
    bottom: 0;
    right: 635px;
    position: absolute;
    background-position: 32% 8%;
    background-size: cover;
    z-index: 0;
}
.axis {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}
.group {
    float: left;
}
.active {
    opacity: 0.5;
}